<%- include('partials/header2') -%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<div class="container">
  <div class="container">
    <canvas id="Chart"></canvas>
  </div>
  <div class="row mt-5">
      <div class="col-6">
          <div class="mt-5">
            <h2>Add an observation</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
          
          <div class="mt-5">
            <h2>Set Chart Parameters</h2>
            <form action="/chart/putChart" method="POST">
              <div class="mb-3">
                <label for="channelid" class="form-label">ChannelID</label>
                <input type="text" class="form-control" id="channelid" name="channelid">
              </div>
              <div class="mb-3">
                <label for="writeapi" class="form-label">WriteAPI</label>
                <input type="text" class="form-control" id="writeapi" name="writeapi">
              </div>
              <div class="mb-3">
                <label for="numpoints" class="form-label"># points to show (up to 8000)</label>
                <input type="text" class="form-control" id="numpoints" name="numpoints">
              </div>
              <!--
              <div class="mb-3">
                <label for="downsample" class="form-label">Downsample (1 for no downsampling, 2 to skip every second point etc.)</label>
                <input type="text" class="form-control" id="downsample" name="downsample">
              </div>
              -->
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div>

  <div id = "script" chartInfo= "<%=JSON.stringify(chartInfo)%>" ></div>
  <script type="text/javascript" src="js/chart.js"></script>
  
</div>
<%- include('partials/footer') -%>